<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.svcrecommend.dataMapper.acm.ACMSLRMapper">

    <select id="selectPaperVOsByKeyword" resultType="com.nju.svcrecommend.domain.PaperVO">
        select tmp.*, count(*) as citations from ref,
        (select document_id as docId, 'ACM' as db, title, abstract as abs, publication, year from document
        where (year between #{startTime} and #{endTime})
        and document_id in
        (select paperId from paperfield where fieldId in
        (select keywords_id from keywords where name like #{keyword}))) tmp
        where referredId = tmp.docId
        group by docId, db, title, abs, publication, year
    </select>

    <select id="selectAuthorsByDocId" resultType="com.nju.svcrecommend.domain.AuthorVO">
        select id, name, 'ACM' as db, affiliation as institution from author where author_id in
        (select authorID from authorize where paperID = #{id})
    </select>

    <select id="selectKeywordsByDocId" resultType="java.lang.String">
        select group_concat(name) from keywords where keywords_id in
        (select fieldId from paperfield where paperId = #{id})
    </select>

</mapper>