<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.svcdisambiguation.dataMapper.ieee.IEEEInstitutionDetailMapper">

    <resultMap id="InstitutionDetail" type="com.nju.svcdisambiguation.vo.detail.institution.InstitutionInfoVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="selectInstitutionDetailById" resultMap="InstitutionDetail">
        select affiliationID as id, affiliation_name as name from affiliation where affiliationID = #{institutionId}
    </select>

    <resultMap id="InstitutionAuthorStat" type="com.nju.svcdisambiguation.vo.detail.institution.InstitutionAuthorStatVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="selectAuthorByInstitution" resultType="java.lang.Integer">
        select authorID as id from authoraffiliation where affiliationNAME=#{institution}
    </select>

    <select id="selectSameInsByInstitutionId" resultType="java.lang.String">
        select affiliation_name from affiliation where alias != '' and alias in
        (select alias from affiliation where affiliationID = #{institutionId})
    </select>



    <select id="selectInstitutionAuthor" resultType="java.lang.Integer">
        select authorID as id from authoraffiliation where affiliationNAME=#{institution}
    </select>

    <select id="selectInstitutionName" resultType="java.lang.String">
        select affiliation_name from affiliation where affiliationID=#{institutionId}
    </select>

    <select id="selectAuthorName" resultType="java.lang.String">
        select name from authors where id=#{authorId}
    </select>

    <resultMap id="FieldSummary" type="com.nju.svcdisambiguation.po.FieldSummaryPO">
        <id column="fieldId" property="fieldId"/>
        <result column="fieldName" property="fieldName"/>
        <result column="count" property="count"/>
    </resultMap>

    <select id="selectFieldSummaryPOByInstitutionNAME" resultMap="FieldSummary">
        select id as fieldId, field as fieldName, count(*) as count from keywords where id in
        (select fieldId from paperfield where paperId in
        (select paperID from authorize where authorID in
        (select authorID from authoraffiliation where affiliationNAME= #{institution})))
        group by id, field
    </select>

    <select id="selectSameAuthorIds" resultType="java.lang.Integer">
        select id from authors where alias is not null and id in(
            select distinct authorID from authoraffiliation where affiliationNAME in(
                select affiliation_name from affiliation where affiliationID = #{id}))
    </select>

    <select id="selectSameAuthorPO" resultType="com.nju.svcdisambiguation.po.SameAuthorPO">
        select id, name, 'IEEE' as db from authors where alias in(
            select alias from authors where id = #{id})
    </select>

</mapper>